{% load staticfiles %}

<link rel="stylesheet" href="{% static "vue-js-modal/components/Dialog.css" %}">
<link rel="stylesheet" href="{% static "vue-js-modal/components/Modal.css" %}">
<link rel="stylesheet" href="{% static "vue-js-modal/components/Resizer.css" %}">

<script type="module" src="{% static "vue-js-modal/index.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/Plugin.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/PluginCore.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/components/Dialog.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/components/Modal.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/components/ModalsContainer.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/components/Resizer.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/components/VNode.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/index.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/errors.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/focusTrap.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/numbers.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/parser.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/resizeObserver.js" %}"></script>
<script type="module" src="{% static "vue-js-modal/utils/types.js" %}"></script>
