{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Text Analysis" %} - {% trans "view TBX glossary" %}{% endblock %}

{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
<style>
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 4px;
  text-align: center;
}

li.language {
  display: inline-block;
}
button.language {
  display: inline-block;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  margin: 0 4px 0 0;
  cursor: pointer;
}

select, select option {
  width: 100px;
}
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "nlp/js/scripts.js" %}"></script>
    <script src='https://unpkg.com/vue@2.2.6'></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "view TBX glossary" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
<div class="container-fluid">
  <div id="app" class='components-container'>
  {% verbatim %}
    <template v-if="error===null">

    <div><label>{{ obj_type_label }}</label>: {{ label }} ({{ obj_id }})</div>
    <div v-if="title"><label>{{ label_title }}</label>: {{ title }}</div>
    <div v-if="url"><label>{{ label_url }}</label>: <a :href="url" target="_blank">{{ url }}</a></div>
    <div v-if="source"><label>{{ label_source }}</label>: {{ source }}</div>
    <div v-if="languages"><label>{{ label_languages }}</label>: 
      <template v-for="(l, l_index) in languages">{{ l }}<template
                v-if="l_index+1 < languages.length">, </template></template></div>
    <div v-if="subjects"><label>{{ label_all_subjects }}</label>:
      <template v-for="(s, s_index) in subjects">{{ s }}<template
                v-if="s_index+1 < subjects.length">, </template></template></div>

    <div style="text-align: center;">

    <h4>{{ label_filters }}</h4>

    <div style="display: inline-block; margin-right: 10px;">
      <ul>
        <li class="language" v-for="language in languages">
          <button class="language" :title="language_map[language]['label_en']"
          v-on:click.stop="toggle_language(language);"
          :style="'border-color:'+language_map[language]['color']+'; background-color:'+(language_map[language]['selected']==1?'White;':'LightGray;')">
          {{ language_map[language]['label'] }}</button>
         </li>
      </ul>
      <div style="font-size: x-small; font-style: italic;">{{ label_select }}</div>
    </div>

    <div style="display: inline-block; margin: 10px;">
      <div style="margin: 15px;"><input type="text" v-model="text_filter" v-on:input="filter_terms()" :placeholder="label_enter_text_here" size="30" maxlength="32" /></div>
      <div style="font-size: x-small; font-style: italic;">{{ label_filter }}</div>
    </div>

    <div style="display: inline-block; margin: 10px;">
	  <select v-model="hidden_columns" multiple style="width: 100px;">
		<option v-for="column in hideable_columns" :value="column">{{column}}</option>
	  </select>
      <div style="font-size: x-small; font-style: italic;">{{ label_hide_columns }}</div>
    </div>

    <h4>{{ label_concepts_terms }}</h4>
 
    <table style="margin: 0 auto; border-collapse: collapse; width: 100%; table-layout: fixed;">
      <thead>
		  <th style="width:5%">#</th>
		  <th style="width:5%">{{ label_concept }}</th>
		  <th v-if="filtered_columns.includes('subjects')" style="width:15%">{{ label_subjects }}</th>
		  <th style="width:5%">{{ label_language }}</th>
		  <th v-if="filtered_columns.includes('definition')" style="width:35%">{{ label_definition }}</th>
		  <th v-if="filtered_columns.includes('def_source')" style="width:10%">{{ label_definition_source }}</th>
		  <th style="width:20%">{{ label_term }}</th>
		  <th v-if="filtered_columns.includes('type')" style="width:5%">{{ label_type }}</th>
		  <th v-if="filtered_columns.includes('POS')" style="width:5%">{{ label_pos }}</th>
		  <th v-if="filtered_columns.includes('status')" style="width:6%">{{ label_status }}</th>
		  <th v-if="filtered_columns.includes('reliability')" style="width:4%">{{ label_reliability }}</th>
      </thead>
      <tbody>
        <template v-for="(c, c_index) in filtered_concepts">
        <template v-for="(l, l_index) in filter_languages(c['langSec'])">
        <tr v-for="(t, t_index) in l['termSec']">
			<template v-if="l_index===0 && t_index===0">
	          <td>{{ c_index+1 }}</td>
	          <td>{{ c['id'] }}</td>
	          <td v-if="filtered_columns.includes('subjects')"><span v-for="(s, s_index) in c['subjects']">{{ s }}<span v-if="s_index+1 < c['subjects'].length">, </span> </td>
	        </template>
			<template v-else> <td></td> <td></td> <td v-if="filtered_columns.includes('subjects')"></td> </template>
		    <template v-if="t_index===0"><td>{{ l['lang'] }}</td>
		      <td v-if="filtered_columns.includes('definition')">{{ l['definition'] }}</td>
		      <td v-if="filtered_columns.includes('def_source')">{{ l['def_source'] }}</td>
		    </template>
		    <template v-else> <td></td> 
		      <td v-if="filtered_columns.includes('definition')"></td>
		      <td v-if="filtered_columns.includes('def_source')">{{ l['def_source'] }}</td>
		    </template>
		    <td>{{ t['term'] }}</td>
		    <td v-if="filtered_columns.includes('type')"><template v-if="t['type']">{{ t['type'] }}</template></td v-if="filtered_columns.includes('type')">
		    <td v-if="filtered_columns.includes('POS')"><template v-if="t['POS']">{{ t['POS'] }}</template></td v-if="filtered_columns.includes('pos')">
		    <td v-if="filtered_columns.includes('status')"><template v-if="t['status']">{{ t['status'] }}</template></td v-if="filtered_columns.includes('status')">
		    <td v-if="filtered_columns.includes('reliability')"><template v-if="t['reliability']">{{ t['reliability'] }}</template></td>
        </tr>
        </template>
        </template>
      </tbody>
    </table>

	<div tyle="margin-top: 10px;">
    <div style="margin: 5px; padding: 5px;">
    <form @submit.prevent="handleSave">
		<label>{{ label_export }}</label> &nbsp;
	    <button type="submit" name="export_tbx" id="export_tbx" class="btn btn-default"
	    	v-on:click.stop="export_glossary('tbx');">{{ label_export_tbx }}</button>&nbsp;&nbsp;
	    <button type="submit" name="export_csv" id="export_csv" class="btn btn-default"
	    	v-on:click.stop="export_glossary('csv');">{{ label_export_csv }}</button>
    </form>
    </div>

    </template>
    {% endverbatim %}
  </div>
</div>
{% endblock %}

{% block footer_base %}{% endblock footer_base %}

{% block script_base %}
<script type="module">
	// https://v2.vuejs.org/v2/guide/forms.html#Select
	// https://stackoverflow.com/questions/66503268/why-doesn-t-vuejs-natively-support-multiple-select

      var app = new Vue({
        name: 'tbx_view',
        el: '#app',
        data: {
          file_key: null,
          obj_type: '{{ obj_type }}',
          obj_id: '{{ obj_id }}',
          obj_type_label: '{{ obj_type_label }}',
          label: '{{ label }}',
          title: '{{ title }}',
          source: '{{ source }}',
          url: '{{ url }}',
          languages: [],
          color_dict: null,
		  language_map: null,
          text_filter: '',
          filtered_concepts: [],
          error: null,
          invalid: null,
          source: '',
          concepts: [],
          subjects: [],
          columns: [],
          hideable_columns: [],
          hidden_columns: [],
          
          label_see: `{% trans "see"|capfirst %}`,
          label_id: `{% trans "id" %}`,
          label_title: `{% trans "title"|capfirst %}`,
          label_url: `{% trans "url"|capfirst %}`,
          label_languages: `{% trans "languages"|capfirst %}`,
          label_source: `{% trans "terminology source"|capfirst %}`,
          label_source_collections: `{% trans "source collections"|capfirst %}`,
          label_all_subjects: `{% trans "subjects"|capfirst %}`,
          label_select: `{% trans "select languages to display by toggling the buttons above; grey background means 'non-selected'"|capfirst %}`,
          label_filter: `{% trans "filter terms by included substring: enter 3 chars at least"|capfirst %}`,
          label_hide_columns: `{% trans "select columns to hide"|capfirst %}`,
          label_enter_text_here: `{% trans "enter search string here" %}`,
          label_export: `{% trans "to local device"|capfirst %}`,
          label_export_tbx: `{% trans "save as TBX"|capfirst %}`,
          label_export_csv: `{% trans "save as CSV"|capfirst %}`,
          label_export_filtering: `{% trans "only visible content will be exported"|capfirst %}`,
          label_export: `{% trans "to local device"|capfirst %}`,
          label_concept: `{% trans "concept" %}`,
          label_concepts_terms: `{% trans "concepts and terms"|capfirst %}`,
          label_filters: `{% trans "filters setting"|capfirst %}`,
          label_subjects: `{% trans "subjects" %}`,
          label_definition: `{% trans "definition" %}`,
          label_definition_source: `{% trans "def.source" %}`,
          label_language: `{% trans "lang" %}`,
          label_type: `{% trans "type" %}`,
          label_pos: `{% trans "POS" %}`,
          label_reliability: `{% trans "rel." %}`,
          label_status: `{% trans "status" %}`,
          label_term: `{% trans "term" %}`,
        },
	    computed: {
	      filtered_columns: function () {
	        return this.columns.filter((col) => !this.hidden_columns.includes(col));
	      }
	  },
        methods: {
          resize() {
            console.log('resize')
          },
          toggle_language: function(language) {
            Vue.set(this.language_map[language], 'selected', !this.language_map[language].selected);
            this.$forceUpdate();
          },
          filter_languages: function(langSec) {
			var selected_items = [];
            langSec.forEach(function(item) {
              if (app.language_map[item['lang']]['selected'])
                selected_items.push(item);
            });
            return selected_items;
          },
          selected_languages: function() {
			var selected_items = [];
			this.languages.forEach(function(language) {
			  if (app.language_map[language].selected)
			    selected_items.push(language);
			});
			return selected_items;
		  },
          // https://marketsplash.com/tutorials/vue-js/vue-js-form-submit/
          handleSave: function() {
          },
          filter_terms: function() {
			var selected_terms = [];
            if (this.text_filter.length == 0) {
              this['filtered_concepts'] = this['concepts'];
			}
            else if (this.text_filter.length >=3) {
              this['filtered_concepts'] = this.filter_concepts(this['concepts'], this.text_filter);
			}
          },
          filter_concepts: function(original, pattern) {
			var filtered = [];
            for (let i = 0; i < original.length; i++) {
              let concept = original[i];
              let langSec = concept.langSec;
              let langItems = [];
              for (let j = 0; j < langSec.length; j++) {
                let langItem = langSec[j];
                let terms = []
                for (let k = 0; k < langItem.termSec.length; k++) {
                  let term = langItem.termSec[k];
                  if (term.term.includes(pattern))
                    terms.push(term)
                }
                if (terms.length > 0) {
                  langItem = { 'def_source': langItem.def_source, 'definition': langItem.definition, 'lang': langItem.lang, 'termSec': terms, };
                  langItems.push(langItem);
                }
              }
              if (langItems.length > 0) {
                concept = { 'id': concept.id, 'subjects': concept.subjects, 'langSec': langItems };
                filtered.push(concept);
              }
            }
            return filtered;
		  },
		  export_glossary: function(format) {
	        let data = {format: format, title: this.title, source: this.source, languages: this.selected_languages(), concepts: this.filtered_concepts, columns: this.columns};
	        fetch('/textanalysis/tbx_export/', {
	          method: 'POST',
	          headers: { "Content-Type": "application/json", "X-Requested-With": "XMLHttpRequest" },
	          body: JSON.stringify(data)
	       	})
	        .then(response => response.json())
	        .then(data => {
				let title = data['title'].replace('.tbx', '').replace('.csv', '')
				let format = data['format']
				let type = (format == 'tbx')? 'text/xml' : 'text/csv';
				let fileName = title + '.' + format;
				let text = data['text']
				let date = new Date();
				let file = new File([text], fileName, {type: type, lastModified: date})
		        let fileUrl = window.URL.createObjectURL(file);
		        let fileLink = document.createElement('a');
		        fileLink.href = fileUrl;
		        fileLink.setAttribute('download', fileName);
		        document.body.appendChild(fileLink)
		        fileLink.click();
	        })
	        .catch(err => (this['result'] = err))
		  },
        },
        created: function () {
          if (! this['obj_id'])
            this['obj_id'] = 0;
            fetch('/textanalysis/tbx_view/'{% if file_key %}+this['file_key']+'/'{% endif %}{% if obj_type %}+this['obj_type']+'/'+this['obj_id']+'/'{% endif %}, {
            method: 'GET',
            headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
          })
          .then(response => response.json())
          .then(data => {
             for (var key in data) {
              this[key] = data[key];
             };
             this['filtered_concepts'] = data['concepts']
             this['filtered_columns'] = data['columns']
           })
          .catch(err => (this['error'] = err));
        },
      });
 </script>
{% endblock script_base %}