{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Text Analysis" %} - {% trans "view TBX glossary" %}{% endblock %}

{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 4px;
  text-align: center;
}

button {
  display: inline-block;
  margin: 0 4px 0 0;
  border-radius: 5px;
  cursor: pointer;
}
button.edit {
  background-color: LightGray;
  border: 4px solid black;
}
button.small {
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  margin: 2px;
  padding: 2px 4px 0px 4px;
  vertical-align: middle;
}
button.check {
  background-color: transparent;
  color: grey;
  border: 0;
  margin: 2px;
  padding: 2px 4px 0px 4px;
  vertical-align: middle;
}
li.language {
  display: inline-block;
}
button.language {
  display: inline-block;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  margin: 0 4px 0 0;
  cursor: pointer;
}
select, select option {
  width: 100px;
}

input[type=text], textarea {
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
}
select.edit {
  width: 100%;
}
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "nlp/js/scripts.js" %}"></script>
    <script src='https://unpkg.com/vue@2.2.6'></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "view TBX glossary" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
<div class="container-fluid">
  <div id="app" class='components-container'>
  {% verbatim %}
    <template v-if="error===null">

    <div><label>{{ obj_type_label }}</label>: {{ label }} ({{ obj_id }})</div>
    <div v-if="title"><label>{{ label_title }}</label>: {{ title }}</div>
    <div v-if="url"><label>{{ label_url }}</label>: <a :href="url" target="_blank">{{ url }}</a></div>
    <div v-if="source"><label>{{ label_source }}</label>: {{ source }}</div>
    <div v-if="languages"><label>{{ label_languages }}</label>: 
      <template v-for="(l, l_index) in languages">{{ l }}<template
                v-if="l_index+1 < languages.length">, </template></template></div>
    <div v-if="subjects"><label>{{ label_all_subjects }}</label>:
      <template v-for="(s, s_index) in subjects">{{ s }}<template
                v-if="s_index+1 < subjects.length">, </template></template></div>

    <div style="text-align: center;">

    <h4 v-if="!edit">{{ label_filters }}</h4>

    <div v-if="can_edit" style="display: inline-block; margin: 10px;">
       <div style="margin: 15px;"><button class="edit" :style="'background-color:' + (edit==true?'White;':'LightGray;')"
          v-on:click.stop="toggle_edit()"><span v-if="edit">{{ label_editing }}</span><span v-if="!edit">{{ label_viewing }}</span></button></div>
      <div style="font-size: x-small; font-style: italic; text-align: center;">{{ help_editing_1 }}<br>{{ help_editing_2 }}
          <br>( <span style="color: red;">{{ help_editing_3 }}</span> )</div>
    </div>

    <div style="display: inline-block; margin-right: 10px;">
      <ul>
        <li class="language" v-for="language in languages">
          <button class="language" :title="language_map[language]['label_en']"
          v-on:click.stop="toggle_language(language)"
          :style="'border-color:'+language_map[language]['color']+'; background-color:'+(language_map[language]['selected']==1?'White;':'LightGray;')">
          {{ language_map[language]['label'] }}</button>
         </li>
      </ul>
      <div v-if="!edit" style="font-size: x-small; font-style: italic;">{{ label_select }}</div v-if="!edit">
    </div>

    <div v-if="!edit" style="display: inline-block; margin: 10px;">
      <div style="margin: 15px;"><input type="text" v-model="text_filter" v-on:input="filter_terms()" ref="text_filter" :placeholder="label_enter_text_here" size="30" maxlength="32" /></div>
      <div style="font-size: x-small; font-style: italic;">{{ label_filter }}</div>
    </div>

    <div v-if="!edit" style="display: inline-block; margin: 10px;">
      <select v-model="hidden_columns" multiple ref="select_columns" style="width: 100px;">
        <option v-for="column in hideable_columns" :value="column">{{column}}</option>
      </select>
      <div style="font-size: x-small; font-style: italic;">{{ label_hide_columns }}</div>
    </div v-if="!edit">

    <h4>{{ label_concepts_terms }}</h4>
 
    <table style="margin: 0 auto; border-collapse: collapse; width: 100%; table-layout: fixed;">
      <thead>
          <th style="width:5%">#</th>
          <th style="width:5%">{{ col_concept }}</th>
          <th v-if="filtered_columns.includes('subjects')" style="width:15%">{{ col_subjects }}</th>
          <th style="width:5%">{{ col_language }}</th>
          <th v-if="filtered_columns.includes('definition')" style="width:35%">{{ col_definition }}</th>
          <th v-if="filtered_columns.includes('def_source')" style="width:10%">{{ col_definition_source }}</th>
          <th style="width:20%">{{ col_term }}</th>
          <th v-if="filtered_columns.includes('type')" style="width:5%">{{ col_type }}</th>
          <th v-if="filtered_columns.includes('POS')" style="width:5%">{{ col_pos }}</th>
          <th v-if="filtered_columns.includes('status')" style="width:6%">{{ col_status }}</th>
          <th v-if="filtered_columns.includes('reliability')" style="width:4%">{{ col_reliability }}</th>
      </thead>
      <tbody>
        <template v-for="(c, c_index) in filtered_concepts">
        <template v-for="(l, l_index) in filter_languages(c['langSec'])">
        <template v-for="(t, t_index) in l['termSec']">
          <tr>
            <template v-if="l_index===0 && t_index===0">
              <td>{{ c_index+1 }}</td>
              <td>{{ c['id'] }}</td>
              <td v-if="filtered_columns.includes('subjects')"><span v-for="(s, s_index) in c['subjects']">{{ s }}<span v-if="s_index+1 < c['subjects'].length">, </span> </td>
            </template>
            <template v-else> <td></td> <td></td> <td v-if="filtered_columns.includes('subjects')"></td> </template>
            <template v-if="t_index===0">
              <td>{{ l['lang'] }}
                <span v-if="edit && (!new_language) && (!new_term) && (c['langSec'].length<languages.length) && (l_index==(c['langSec'].length)-1) && (t_index==(c['langSec'][l_index]['termSec'].length)-1)">
                  <br><button v-on:click.stop="create_new_language(c_index, t_index)" class="small" :title="label_add_language">+</button></span>
              </td>
              <td v-if="filtered_columns.includes('definition')">{{ l['definition'] }}</td>
              <td v-if="filtered_columns.includes('def_source')">{{ l['def_source'] }}</td>
            </template>
            <template v-else>
              <td>
                <span v-if="edit && (!new_language) && (!new_term) && (c['langSec'].length<languages.length) && (l_index==(c['langSec'].length)-1) && (t_index==(c['langSec'][l_index]['termSec'].length)-1)">
                  <br><button v-on:click.stop="create_new_language(c_index, t_index)" class="small" :title="label_add_language">+</button></span>
			  </td> 
              <td v-if="filtered_columns.includes('definition')"></td>
              <td v-if="filtered_columns.includes('def_source')"></td>
            </template>
            <td>{{ t['term'] }}
              <span v-if="edit && (!new_language) && (!new_term) && (t_index==(l['termSec'].length)-1)"><br><button v-on:click.stop="create_new_term(c_index, l_index, t_index)" class="small" :title="label_add_term">+</button></span>
            </td>
            <td v-if="filtered_columns.includes('type')"><template v-if="t['type']">{{ t['type'] }}</template></td>
            <td v-if="filtered_columns.includes('POS')"><template v-if="t['POS']">{{ t['POS'] }}</template></td>
            <td v-if="filtered_columns.includes('status')"><template v-if="t['status']">{{ t['status'] }}</template></td>
            <td v-if="filtered_columns.includes('reliability')"><template v-if="t['reliability']">{{ t['reliability'] }}</template></td>
          </tr>
          <tr v-if="(new_language) && (c_index==new_c_index) && (l_index==new_l_index)">
            <td>
                <button v-on:click.stop="discard_new_language()" class="check" style="color: orangered" title="language_discard">
                 <i class="fa fa-trash"></i></button>
                <button v-if="term" ref="add_new_term" v-on:click.stop="add_new_language(c_index)" class="check" :title="title_add_new_language">
                 <i class="fa fa-check"></i><br>
            </td>
            <td v-for="col in columns">
                <span v-if="col=='lang'"><select class="edit" v-model="terms_language">
					<template v-for="lang in languages">
                    <option v-if="!(lang_codes(c['langSec']).includes(lang))" :value="lang">{{lang}}</option>
                    </template></select></span>
                <span v-if="col=='definition'"><textarea v-model="concept_definition"></textarea></span>
                <span v-if="col=='def_source'"><input type='text' v-model="concept_source"></span>
                <span v-if="col=='term'"><input type='text' v-model="term"></span>
                <span v-if="col=='term_source'"><input type='text' v-model="term_source"></span>
                <span v-if="col=='type'"><select class="edit" v-model="term_type">
                    <option v-for="type in term_types" :value="type">{{type}}</option>
                    </select></span>
                <span v-if="col=='POS'"><select class="edit" v-model="term_pos">
                    <option v-for="pos in term_poses" :value="pos">{{pos}}</option>
                    </select></span>
                <span v-if="col=='status'"><select class="edit" v-model="term_status">
                    <option v-for="status in term_statuses" :value="status">{{status}}</option>
                    </select></span>
                <span v-if="col=='reliability'">rel</span>
                <span v-if="col=='reliability'"><select class="edit" v-model="term_reliability">
                    <option v-for="reliability in term_reliabilities" :value="reliability">{{reliability}}</option>
                    </select></span>
            </td>
          </tr>
          <tr v-if="(new_term) && (c_index==new_c_index) && (l_index==new_l_index) && (t_index==new_t_index)">
            <td>
                <button v-on:click.stop="discard_new_term()" class="check" style="color: orangered" title="title_discard">
                 <i class="fa fa-trash"></i></button>
                <button v-if="term" ref="add_new_term" v-on:click.stop="add_new_term(c_index, l_index)" class="check" :title="title_add_new_term">
                 <i class="fa fa-check"></i><br>
            </td>
            <td v-for="col in columns">
                <span v-if="col=='term'"><input type='text' v-model="term"></span>
                <span v-if="col=='term_source'"><input type='text' v-model="term_source"></span>
                <span v-if="col=='type'"><select class="edit" v-model="term_type">
                    <option v-for="type in term_types" :value="type">{{type}}</option>
                    </select></span>
                <span v-if="col=='POS'"><select class="edit" v-model="term_pos">
                    <option v-for="pos in term_poses" :value="pos">{{pos}}</option>
                    </select></span>
                <span v-if="col=='status'"><select class="edit" v-model="term_status">
                    <option v-for="status in term_statuses" :value="status">{{status}}</option>
                    </select></span>
                <span v-if="col=='reliability'"><select class="edit" v-model="term_reliability">
                    <option v-for="reliability in term_reliabilities" :value="reliability">{{reliability}}</option>
                    </select></span>
            </td>
          </tr>
        </template>
        </template>
        </template>
        <tr v-if="edit==true && (!new_term) && (!new_language)">
            <td><button class="add" ref="add" :style="'background-color:' + (ready==true?'LightGray;':'White;')"
                 v-on:click.stop="add_row()">{{ label_add_concept }}</button>
            </td>
            <template v-for="col in columns">
                <td v-if="col=='id'"><input type='text' v-model="concept_id"></td>
                <td v-if="col=='subjects'"><select multiple class="edit" v-model="concept_subjects" :size="Math.min(subjects.length,3)">
                    <option v-for="subject in subjects" :value="subject">{{subject}}</option>
                    </select></td>
                <td v-if="col=='def_source'"><input type='text' v-model="concept_source"></td>
                <td v-if="col=='lang'"><select class="edit" v-model="terms_language">
                    <option v-for="lang in languages" :value="lang">{{lang}}</option>
                    </select></td>
                <td v-if="col=='definition'"><textarea v-model="concept_definition"></textarea></td>
                <td v-if="col=='term'"><input type='text' v-model="term"></td>
                <td v-if="col=='term_source'"><input type='text' v-model="term_source"></td>
                <td v-if="col=='type'"><select class="edit" v-model="term_type">
                    <option v-for="type in term_types" :value="type">{{type}}</option>
                    </select></td>
                <td v-if="col=='POS'"><select class="edit" v-model="term_pos">
                    <option v-for="pos in term_poses" :value="pos">{{pos}}</option>
                    </select></td>
                <td v-if="col=='status'"><select class="edit" v-model="term_status">
                    <option v-for="status in term_statuses" :value="status">{{status}}</option>
                    </select></td>
                <td v-if="col=='reliability'">rel</td>
                <td v-if="col=='reliability'"><select class="edit" v-model="term_reliability">
                    <option v-for="reliability in term_reliabilities" :value="reliability">{{reliability}}</option>
                    </select></td>
            </template>
        </tr>
      </tbody>
    </table>

    <div tyle="margin-top: 10px;">
    <div style="margin: 5px; padding: 5px;">
    <form @submit.prevent="handleSave">
        <label>{{ label_export }}</label> &nbsp;
        <button type="submit" ref="export_tbx" class="btn btn-default"
            v-on:click.stop="export_glossary('tbx');">{{ label_export_tbx }}</button>&nbsp;&nbsp;
        <button type="submit" ref="export_csv" class="btn btn-default"
            v-on:click.stop="export_glossary('csv');">{{ label_export_csv }}</button>
    </form>
    </div>
    </div>

    </template>
    {% endverbatim %}
  </div>
</div>
{% endblock %}

{% block footer_base %}{% endblock footer_base %}

{% block script_base %}
<script type="module">
    // https://v2.vuejs.org/v2/guide/forms.html#Select
    // https://stackoverflow.com/questions/66503268/why-doesn-t-vuejs-natively-support-multiple-select

      var app = new Vue({
        name: 'tbx_view',
        el: '#app',
        data: {
          file_key: null,
          obj_type: '{{ obj_type }}',
          obj_id: '{{ obj_id }}',
          obj_type_label: '{{ obj_type_label }}',
          can_edit: false,
          ready: false,
          label: '{{ label }}',
          title: '{{ title }}',
          source: '{{ source }}',
          url: '{{ url }}',
          color_dict: null,
          language_map: null,
          text_filter: '',
          filtered_concepts: [],
          error: null,
          invalid: null,
          base_id: 'id-',
          source: '',
          concepts: [],
          languages: [],
          subjects: [],
          columns: [],
          hideable_columns: [],
          hidden_columns: [],
          term_types: [],
          term_poses: [],
          term_statuses: [],
          term_reliabilities: [],

          id_serial: 0,
          edit: false,
          new_language: false,
          new_term: false,
          new_c_index: null,
          new_l_index: null,
          new_t_index: null,
          
          concept_id: '',
          concept_subjects: [],
          terms_language: '',
          concept_definition: '',
          concept_source: '',
          term: '',
          term_source: '',
          term_type: '',
          term_pos: '',
          term_status: '',
          term_reliability: '',
          
          label_see: `{% trans "see"|capfirst %}`,
          label_id: `{% trans "id" %}`,
          label_title: `{% trans "title"|capfirst %}`,
          label_url: `{% trans "url"|capfirst %}`,
          label_viewing: `{% trans "VIEWING"|capfirst %}`,
          label_editing: `{% trans "EDITING"|capfirst %}`,
          help_editing_1: `{% trans "toggle to enable/disable editing; in edit mode all filters are inactive;"|capfirst %}`,
          help_editing_2: `{% trans "editing works in memory: you can save the glossary to local device" %}`,
          help_editing_3: `{% trans "FEATURE UNDER DEVELOPMENT" %}`,
          label_languages: `{% trans "languages"|capfirst %}`,
          label_source: `{% trans "terminology source"|capfirst %}`,
          label_source_collections: `{% trans "source collections"|capfirst %}`,
          label_all_subjects: `{% trans "subjects"|capfirst %}`,
          label_select: `{% trans "select languages to display by toggling the buttons above; grey background means 'non-selected'"|capfirst %}`,
          label_filter: `{% trans "filter terms by included substring: enter 3 chars at least"|capfirst %}`,
          label_hide_columns: `{% trans "select columns to hide"|capfirst %}`,
          label_enter_text_here: `{% trans "enter search string here" %}`,
          label_export: `{% trans "to local device"|capfirst %}`,
          label_export_tbx: `{% trans "save as TBX"|capfirst %}`,
          label_export_csv: `{% trans "save as CSV"|capfirst %}`,
          label_export_filtering: `{% trans "only visible content will be exported"|capfirst %}`,
          label_export: `{% trans "to local device"|capfirst %}`,
          label_concepts_terms: `{% trans "concepts and terms"|capfirst %}`,
          label_filters: `{% trans "filters setting"|capfirst %}`,
          col_concept: `{% trans "concept" %}`,
          col_subjects: `{% trans "subjects" %}`,
          col_definition: `{% trans "definition" %}`,
          col_definition_source: `{% trans "def.source" %}`,
          col_term: `{% trans "term" %}`,
          col_language: `{% trans "lang" %}`,
          col_type: `{% trans "type" %}`,
          col_pos: `{% trans "POS" %}`,
          col_reliability: `{% trans "rel." %}`,
          col_status: `{% trans "status" %}`,
          label_language: `{% trans "language" %}`,
          label_term: `{% trans "term" %}`,
          label_add: `{% trans "add"|capfirst %}`,
          label_add_term: `{% trans "add term variant"|capfirst %}`,
          label_add_concept: `{% trans "add\nconcept"|capfirst %}`,
          label_add_language: `{% trans "add new language"|capfirst %}`,
          title_add_new_term: `{% trans "add term to glossary"|capfirst %}`,
          title_discard: `{% trans "discard"|capfirst %}`,
        },
        computed: {
          filtered_columns: function () {
            if (this.edit)
              return this.columns;
            return this.columns.filter((col) => !this.hidden_columns.includes(col));
          },
        },
        methods: {
          toggle_edit: function() {
            this.edit = !this.edit;
            if (this.edit) {
              Vue.set(this.$refs['select_columns'], 'disabled', true);
              Vue.set(this.$refs['text_filter'], 'disabled', true);
              Vue.set(this.$refs['export_tbx'], 'disabled', true);
              Vue.set(this.$refs['export_csv'], 'disabled', true);
            }
            else {
              Vue.set(this.$refs['select_columns'], 'disabled', false);
              Vue.set(this.$refs['text_filter'], 'disabled', false);
              Vue.set(this.$refs['export_tbx'], 'disabled', false);
              Vue.set(this.$refs['export_csv'], 'disabled', false);
            }
            this.$forceUpdate();
          },
          toggle_language: function(language) {
            if (!this.edit) {
              console.log('toggle_language');
              Vue.set(this.language_map[language], 'selected', !this.language_map[language].selected);
              this.$forceUpdate();
            }
          },
          next_id_serial: function() {
            this.id_serial += 1;
          },
          invalid_row: function() {
            Vue.set(this.$refs['add'], 'disabled', false);
            return;
          },
          create_new_term: function(c_index, l_index, t_index) {
            this.new_c_index = c_index;
            this.new_l_index = l_index;
            this.new_t_index = t_index;
            this.new_term = true;
          },
          clear_term: function() {
            this.term = '';
            this.term_source = '';
            this.term_type = '';
            this.term_pos = '';
            this.term_status = '';
            this.term_reliability = '';
          },
          discard_new_term: function() {
            this.clear_term();
            this.new_term = false;
          },
          build_new_term: function() {
            let term_item = {term: this.term};
            let columns = this.columns;
            if (columns.includes('term_source') && this.term_source)
              term_item['term_source'] = this.term_source;
            if (columns.includes('type')) {
              if (this.term_type)
                term_item['type'] = this.term_type;
              else
                term_item['type'] = this.term_types[0];
            }
            if (columns.includes('POS')) {
              if (this.term_pos)
                term_item['POS'] = this.term_pos;
              else
                term_item['POS'] = this.term_poses[0];
            }
            if (columns.includes('status')) {
              if (this.term_status)
                term_item['status'] = this.term_status;
              else
                term_item['status'] = this.term_statuses[0];
            }
            if (columns.includes('reliability')) {
              if (this.term_reliability)
                term_item['reliability'] = this.term_reliability;
              else
                term_item['reliability'] = this.term_reliabilities[0];
            }
          },
          add_new_term: function(c_index, l_index) {
			term_item = this.buil_new_term()
            this.concepts[c_index].langSec[l_index].termSec.push(term_item);
            this.new_term = false;
          },
          create_new_language: function(c_index, l_index) {
            this.new_c_index = c_index;
            this.new_l_index = l_index;
            this.new_language = true;
          },
          clear_language: function() {
            this.lang = '';
            this.definition = '';
            this.def_source = '';
          },
          discard_new_language: function() {
            this.clear_term();
            this.clear_language();
            this.new_language = false;
          },
          add_new_language: function(c_index) {
            let language_item = {lang: this.terms_language, definition: this.concept_definition};
            if (this.columns.includes('def_source') && this.concept_source)
              language_item['def_source'] = this.concept_source;
            language_item['termSec'] = [this.build_new_term()];
            this.concepts[c_index].langSec.push(language_item);
            this.new_language = false;
          },
          add_row: function() {
            Vue.set(this.$refs['add'], 'disabled', true);
            let concept = {};
            // id
            if (this.concept_id.length>0)
              concept['id'] = this.concept_id;
            else
              concept.id = this.base_id + String(this.id_serial+1).padStart(3, '0');
            // subjects
            if (this.concept_subjects.length>0)
              concept['subjects'] = this.concept_subjects;
            // language
            if (this.terms_language=='')
              this.terms_language = this.languages[0];
            let lang_item = {lang: this.terms_language};
            // definition
            if (this.concept_definition.length>0)
              lang_item['definition'] = this.concept_definition;
            // source
            if (this.concept_source.length>0)
              lang_item['def_source'] = this.concept_source;
            // term
            if (this.term=='')
              return this.invalid_row();
            let term_item = {term: this.term};
            // type
            if (this.term_type.length>0)
              term_item['type'] = this.term_type;
            else
              term_item['type'] = this.term_types[0];
            // POS
            if (this.term_pos.length>0)
              term_item['POS'] = this.term_pos;
            else
              term_item['POS'] = this.term_poses[0];
            // status
            if (this.term_status.length>0)
              term_item['status'] = this.term_status;
            // reliability
            if (this.term_reliability.length>0)
              term_item['reliability'] = this.term_reliability;
            lang_item['termSec'] = [term_item];
            concept['langSec'] = [lang_item];
            this.concepts.push(concept);
            this.next_id_serial();
            this.terms_language = '';
            this.concept_definition = '';
            this.term = '';
            Vue.set(this.$refs['add'], 'disabled', false);
            this.$forceUpdate();
          },
          filter_languages: function(langSec) {
            if (this.edit)
              return langSec;
            var selected_items = [];
            langSec.forEach(function(item) {
              if (app.language_map[item['lang']]['selected'])
                selected_items.push(item);
            });
            return selected_items;
          },
          selected_languages: function() {
            if (this.edit)
              return this.languages;
            var selected_items = [];
            this.languages.forEach(function(language) {
              if (app.language_map[language].selected)
                selected_items.push(language);
            });
            return selected_items;
          },
          // https://marketsplash.com/tutorials/vue-js/vue-js-form-submit/
          handleSave: function() {
          },
          filter_terms: function() {
            var selected_terms = [];
            if (this.text_filter.length == 0) {
              this['filtered_concepts'] = this['concepts'];
            }
            else if (this.text_filter.length >=3) {
              this['filtered_concepts'] = this.filter_concepts(this['concepts'], this.text_filter);
            }
          },
          filter_concepts: function(original, pattern) {
            if (this.edit)
              return original;
            var filtered = [];
            for (let i = 0; i < original.length; i++) {
              let concept = original[i];
              let langSec = concept.langSec;
              let langItems = [];
              for (let j = 0; j < langSec.length; j++) {
                let langItem = langSec[j];
                let terms = []
                for (let k = 0; k < langItem.termSec.length; k++) {
                  let term = langItem.termSec[k];
                  if (term.term.includes(pattern))
                    terms.push(term)
                }
                if (terms.length > 0) {
                  langItem = { 'def_source': langItem.def_source, 'definition': langItem.definition, 'lang': langItem.lang, 'termSec': terms, };
                  langItems.push(langItem);
                }
              }
              if (langItems.length > 0) {
                concept = { 'id': concept.id, 'subjects': concept.subjects, 'langSec': langItems };
                filtered.push(concept);
              }
            }
            return filtered;
          },
          export_glossary: function(format) {
            let data = {format: format, title: this.title, source: this.source, languages: this.selected_languages(), concepts: this.filtered_concepts, columns: this.columns};
            fetch('/textanalysis/tbx_export/', {
              method: 'POST',
              headers: { "Content-Type": "application/json", "X-Requested-With": "XMLHttpRequest" },
              body: JSON.stringify(data)
               })
            .then(response => response.json())
            .then(data => {
                let title = data['title'].replace('.tbx', '').replace('.csv', '')
                let format = data['format']
                let type = (format == 'tbx')? 'text/xml' : 'text/csv';
                let fileName = title + '.' + format;
                let text = data['text']
                let date = new Date();
                let file = new File([text], fileName, {type: type, lastModified: date})
                let fileUrl = window.URL.createObjectURL(file);
                let fileLink = document.createElement('a');
                fileLink.href = fileUrl;
                fileLink.setAttribute('download', fileName);
                document.body.appendChild(fileLink)
                fileLink.click();
            })
            .catch(err => (this['result'] = err))
          },
          lang_codes: function(langSec) {
            let codes = [];
            for (var key in langSec) {
			  let item = langSec[key];
              codes.push(item['lang']);
            }
            return codes;
	      },
        },
        created: function () {
          if (! this['obj_id'])
            this['obj_id'] = 0;
            fetch('/textanalysis/tbx_view/'{% if file_key %}+this['file_key']+'/'{% endif %}{% if obj_type %}+this['obj_type']+'/'+this['obj_id']+'/'{% endif %}, {
            method: 'GET',
            headers: {"X-Requested-With": "XMLHttpRequest"}, // this is just a patch
          })
          .then(response => response.json())
          .then(data => {
             for (var key in data) {
              this[key] = data[key];
             };
             this['filtered_concepts'] = data['concepts'];
             this['filtered_columns'] = data['columns'];
             this.can_edit = (this.obj_type == 'file');
           })
          .catch(err => (this['error'] = err));
        },
        watch: {
        },
      });
 </script>
{% endblock script_base %}