{% load staticfiles %}
<!DOCTYPE html>
<HTML>

<HEAD>
	{% include "we_collab/_icons.html" %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	{% include "_vue-js-modal.html" %}
</HEAD>

<BODY>
<div>
En 1496 Caboto partió de Bristol con un buque, pero no logró ir más allá de Islandia y se vio obligado a regresar a causa de disputas con la tripulación.

{% verbatim %}

<div id="app">

	<modal v-bind="modal_props" ref="corpus_dialog" name="test" style="border: 5px solid red;">
	    <div style="vertical-align: top; text-align: right;">
	      <button @click="hideModal()" class="vue-dialog-button">
	        ❌
	      </button>
	    </div>

		<div>{{ label }}</div>
		<div>
			<div><label for="story">Tell us your story:</label></div>
			<div><textarea id="story" name="story" rows="5" cols="100" style="resize: vertical;" v-model="text"></textarea></div>
		</div>

	</modal>


</div>

{% endverbatim %}

Los descubrimientos de Caboto fueron la base para las reivindicaciones inglesas sobre Norteamérica.
</div>

<script type="module">
import VueJsModal from '/static/vue-js-modal/components/Modal.js';
// import VueJsDialog from '/static/vue-js-modal/components/Dialog.js';
// Vue.use(VueJsModal, { dialog: true })

var app = new Vue({
    name: 'contents_dashboard',
    components: {
		'modal': VueJsModal,
		// 'mdialog': VueJsDialog,
    },
    el: '#app',
    data: {
		label: 'Buongiorno',
		text: 'It was a dark and stormy night...',
		modal_props: { 
			adaptive: false, // ?
			resizable: true, // ok
			draggable: true, // ok
			scrollable: true,
			clickToClose: false, // ok
			focusTrap: true, // ?
			width: 400,
			height: 400,
		},
    },
    methods: {
        showModal () {
			console.log('showModal')
            this.$refs['corpus_dialog'].open();
        },
        hideModal () {
			console.log(this.text);
            this.$refs['corpus_dialog'].close();
        },
    },
    mounted: function () {
		this.showModal();
    },
    updated: function () {
    },
});
</script>

</BODY>
</HTML>
