{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Text Analysis" %} - {% trans "Annotated text" %}{% endblock %}

{% block extra_style %}
<link rel="shortcut icon" href="{% static "commons/img/ta_dashboard.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "commons/img/ta_dashboard_icon.png" %}" type="image/png">
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">
<link rel="stylesheet" href="{% static "nlp/css/style.css" %}" />
<style type="text/css">
  body { font-family: Helvetica, Arial; font-size: 1rem !important; }
</style>
{% endblock extra_style %}

{% block extra_head %}
    <script src="{% static "nlp/js/jquery.min.js" %}"></script>
    <script src="{% static "nlp/js/scripts.js" %}"></script>
    <script src='https://unpkg.com/vue@2.2.6'></script>
{% endblock extra_head %}

{% block user %}{% endblock user %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Text Analysis" %} - {% trans "Annotated text" %}</h3>
  </div>
{% endblock nav_vue %}

{% block body_class %}nlp-vue-body{% endblock %}

{% block body_base %}
<div class="panel panel-c4 text-left marginTB30">
  <div  class="padding1020">
    <div>
      {% if obj_type_label %}<label>{{ obj_type_label|capfirst }}</label>:{% endif %}
      {% if title or label %}<i>{{ title }}{{ label }}</i></span>{% endif %}
    </div>
    {% if url %}<div><label>{% trans "url"|capfirst %}</label>: <a href="{{ url }}" target="_blank">{{ url }}</a></div>
    {% else %}<div><label>{% trans "id"|capfirst %}</label>: {{ obj_id }}</span>{% endif %}
    <div><label>{% trans "language"|capfirst %}</label>: {{ language }}</div>

    <h4 class="marginTB5 padding0">{% trans "annotated words and coloured entities"|capfirst %}</h4>

    <div style="margin-left: 10px;">
       {{ analyzed_text|safe }}
    </div>
    <div><span style="font-size: small; font-style: italic; margin-top: 5px;">(*) {% trans "words are annotated with lexical classes and dependency relations"|capfirst %}. {% trans "named entities are highlighted in red"|capfirst %}.</span></div>
  </div>
</div>
{% endblock %}

{% block footer_base %}{% endblock footer_base %}
